@page "/changePassword"

@if (loading)
{
    <Loading />
}
<div class="row">
    <div class="col-12">
        <EditForm Model="changePasswordDto" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator />
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-key" /> Change Password
                        <a class="btn btn-sm btn-success float-end" href="/editUser"><i class="bi bi-arrow-left" /> Return</a>
                        <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="bi bi-floppy" /> Save</button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Current Password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@changePasswordDto.CurrentPassword" />
                            <ValidationMessage For="@(() => changePasswordDto.CurrentPassword)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>New Password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@changePasswordDto.NewPassword" />
                            <ValidationMessage For="@(() => changePasswordDto.CurrentPassword)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Confirm New Password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@changePasswordDto.Confirm" />
                            <ValidationMessage For="@(() => changePasswordDto.Confirm)" />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>