@page "/Register"

@if (loading)
{
    <Loading />
}
else
{
    <EditForm Model="userDto" OnValidSubmit="CreteUserAsync">
        <DataAnnotationsValidator />

        <div class="card">
            <div class="card-header">
                <span>
                    <i class="bi bi-key" /> Register New User
                    <button class="btn btn-sm btn-primary float-end" type="submit"><i class="bi bi-person-add" /> Registrar</button>
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label>First Name:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.FirstName" />
                                <ValidationMessage For="@(() => userDto.FirstName)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Last Name:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.LastName" />
                                <ValidationMessage For="@(() => userDto.LastName)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Document:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.Document" />
                                <ValidationMessage For="@(() => userDto.Document)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Phone:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.PhoneNumber" />
                                <ValidationMessage For="@(() => userDto.PhoneNumber)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Address:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.Address" />
                                <ValidationMessage For="@(() => userDto.Address)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Email:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@userDto.Email" />
                                <ValidationMessage For="@(() => userDto.Email)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label>Country:</label>
                            <div>
                                <select class="form-select" @onchange="CountryChangedAsync">
                                    <option value="0">-- Select a country --</option>
                                    @if (countries is not null)
                                    {
                                        @foreach (var country in countries)
                                        {
                                            <option value="@country.Id">@country.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>State:</label>
                            <div>
                                <select class="form-select" @onchange="StateChangedAsync">
                                    <option value="0">-- Select a state --</option>
                                    @if (states is not null)
                                    {
                                        @foreach (var state in states)
                                        {
                                            <option value="@state.Id">@state.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>City:</label>
                            <div>
                                <select class="form-select" @bind="userDto.CityId">
                                    <option value="0">-- Select a city--</option>
                                    @if (cities is not null)
                                    {
                                        @foreach (var city in cities)
                                        {
                                            <option value="@city.Id">@city.Name</option>
                                        }
                                    }
                                </select>
                                <ValidationMessage For="@(() => userDto.CityId)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Password:</label>
                            <div>
                                <InputText type="password" class="form-control" @bind-Value="@userDto.Password" />
                                <ValidationMessage For="@(() => userDto.Password)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Password confirmation:</label>
                            <div>
                                <InputText type="password" class="form-control" @bind-Value="@userDto.PasswordConfirm" />
                                <ValidationMessage For="@(() => userDto.PasswordConfirm)" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}