@using System.ComponentModel
@using AntDesign.TableModels

@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-list-check"></i> Categories
            <a class="btn btn-sm btn-primary float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-circle" /> Add Category</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Search category..." Callback=@FilterCallBack />
        <GenericList MyList="Categories">
            <Body>
                <NgAir.FrontEnd.Shared.Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync" 
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories!)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <a @onclick=@(() => ShowModalAsync(category.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Edit</a>
                                    <button @onclick=@(() => DeleteAsycn(category)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>

<Table @ref="table"
    Title="Categories"
       TItem="Category"
       DataSource="@Categories"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange"
       Size="TableSize.Small"
       RowKey="x=>x.Id"
      >
  <Selection Key="@(context.Id.ToString())" />
  <AntDesign.PropertyColumn Property="c=>c.Id" Sortable />
@*     <AntDesign.PropertyColumn Property="c=>c.Date" Format="yyyy-MM-dd" Sortable /> *@
    <AntDesign.PropertyColumn Property="c=>c.Name" Sortable />
  @*   <AntDesign.PropertyColumn Title="Temp. (F)" Property="c=>c.TemperatureF" /> *@
  @*   <AntDesign.PropertyColumn Title="Hot" Property="c=>c.Hot">
    <Switch @bind-Value="@context.Hot"></Switch>
  </AntDesign.PropertyColumn> *@
@*     <AntDesign.PropertyColumn Property="c=>c.Summary" Sortable /> *@
  <ActionColumn Title="Action">
    <Space>
      <SpaceItem><Button Danger OnClick="()=>Delete(context.Id)">Delete</Button></SpaceItem>
    </Space>
  </ActionColumn>
</Table>

<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

<br />
<h5>selections:</h5>
@if (selectedRows != null && selectedRows.Any())
{
  <Button Danger Size="small" OnClick="@(e => { selectedRows = null; })">Clear</Button>

  @foreach (var selected in selectedRows)
  {
   @*  <Tag @key="selected.Id" Closable OnClose="e=>RemoveSelection(selected.Id)">@selected.Id - @selected.Summary</Tag> *@
  }
}

<Button OnClick="()=> { _pageIndex--; }">Previous page</Button>
<Button OnClick="()=> { _pageIndex++; }">Next Page</Button>
