@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-list-check"></i> Categories
            <Button Type="primary" Icon="@IconType.Outline.Plus" Class="float-end" OnClick="()=>ShowModalAsync()">Add Category</Button>
        </span>
    </div>
    <div class="card-body">

        <Table TItem="Category"
               DataSource="Categories"
               Loading="Loading"
               Total="Total"
               OnChange="HandleTableChange"
               RemoteDataSource RowKey="x=>x.Id" @bind-SelectedRows="_items">
            <Selection />
            <AntDesign.PropertyColumn Style="width:20%;" Property="c=>c.Name" Sortable DefaultSortOrder="AntDesign.SortDirection.Ascending">
                @context.Name
            </AntDesign.PropertyColumn>
            <AntDesign.PropertyColumn Style="width:20%;" Property="c=>c.Name" Filters="_genderFilters" />
            <AntDesign.PropertyColumn Property="c=>c.Name" />
            <ActionColumn Title="Action">
                <Space>
                    <SpaceItem><Button Type="@AntDesign.ButtonType.Primary" Icon="@IconType.Outline.Edit" OnClick="()=>ShowModalAsync(context.Id, true)">Edit</Button></SpaceItem>
                    <SpaceItem><Button Danger Type="@AntDesign.ButtonType.Primary" Icon="@IconType.Outline.Delete" OnClick="()=>DeleteAsycn(context)">Remove</Button></SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </div>
</div>