@page "/countries"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> Countries
            <Button Type="primary" Icon="@IconType.Outline.Plus" Class="float-end" OnClick="()=>ShowModal()">Add Category</Button>
        </span>
    </div>
    <div class="card-body">
@*         <Filter PlaceHolder="Search country..." Callback=@FilterCallBack />
        <GenericList MyList="Countries">
            <Body>
                <NgAir.FrontEnd.Pages.Auth.ChangePassword Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPageNumber="SelectedPageNumberAsync"
                            PageSize="SelectedPageSizeAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th style="width:210px">State</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Countries!)
                        {
                            <tr>
                                <td><a href="/countries/details/@country.Id"> @country.Name</a></td>
                                <td>@country.StatesNumber</td>
                                <td>
                                    <a @onclick=@(() => ShowModalAsync(country.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Edit</a>
                                    <button @onclick=@(() => DeleteAsycn(country)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList> *@

        <Table TItem="Country"
               DataSource="Countries"
               Loading="Loading"
               Total="Total"
               OnChange="HandleTableChange"
               RemoteDataSource RowKey="x=>x.Id" @bind-SelectedRows="_items">
            <ChildContent>
                <Selection />
                <AntDesign.PropertyColumn Property="c=>c.Name" Sortable DefaultSortOrder="AntDesign.SortDirection.Ascending">
                    <a href="/countries/details/@context.Id">@context.Name</a>
                </AntDesign.PropertyColumn>
                <AntDesign.PropertyColumn Property="c=>c.StatesNumber">
                    @context.StatesNumber
                </AntDesign.PropertyColumn>
                <ActionColumn Title="Action">
                    <Space>
                        <SpaceItem><Button Type="@AntDesign.ButtonType.Primary" Icon="@IconType.Outline.Edit" OnClick="()=>ShowModal(context.Id, true)">Edit</Button></SpaceItem>
                        <SpaceItem><Button Danger Type="@AntDesign.ButtonType.Primary" Icon="@IconType.Outline.Delete" OnClick="()=>DeleteAsycn(context)">Remove</Button></SpaceItem>
                    </Space>
                </ActionColumn>
            </ChildContent>
            <PaginationTemplate>
                <AntDesign.Pagination Total="Total"
                    PageSize="context.PageSize"
                    Current="context.PageIndex"
                    ShowSizeChanger
                    OnChange="context.HandlePageChange" />
            </PaginationTemplate>
        </Table>
    </div>
</div>